body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}
.debug{
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
header {
  height: 80px;
  display: flex;
  align-items: center;
}

.container-top{
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
}
.bg-grey{
  background-color: #E5E5E5;
}
.bg-lightgrey{
  background-color:#F8F9FA ;
}
.big-container{
  height: 100vh;
  padding-top: 80px;
}
.side-bar{
  height: calc(100%);
  width: 170px;
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}
.main-container{
  height: 100%;
  width:calc(100vw - 170px);
  background-color: #F8F9FA;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-container-top{
  background-color:#1B72E8 ;
  width: 100%

}
.text-orange{
  color: #FF8F00;
}
.side-bar li {
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}
.side-bar li a{
  color: white;
}
.side-bar li:hover {
  background-color: white;
}
.side-bar li:hover a{
  color: black;
}
.side-bar .icon{
  width: 40px ;
  height: 40px;
}
.badge-cc{
  background-color: #051e345d;
}
.main-container-mid{
  background-color: red;
  height: 100%;
  width:calc((100% /3)*2)
}
.main-container-bot{
  background-color: aquamarine;
  height: 100%;
  width: calc(100% / 3)

}
@media screen and (max-width:992px){
  .side-bar{
    width: 80px;
    background-image: none;
  }
  .main-container{
    width: calc(100vw - 80px);
  }
  .main-container-mid{
    width:100%
  }
  .main-container-bot{
    width: 100%
  }
}